<!DOCTYPE html>
<html lang="en">
<head>
  <title>EmkcaH On-Line store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  

  <link rel="stylesheet" href="./css/main.css" />
</head>
<body>

<div class="p-5 bg-primary text-white text-center">
  <h1>EmkcaH Services</h1>
  <p>For all your hacking needs</p>
  <p><strong>Disclaimer - </strong>All data provided by these API`s is fake and not related to any living or dead. </p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./aboutUs.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./posts.html">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./shop">On-line store</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="./contactUs.html">Contact Us</a>
        </li>  
      </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      
      <h3 class="mt-4">Useful Links</h3>
      <ul class="nav nav-pills flex-column">
        <div id ="usefullLinks"></div>
      </ul>
      
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
        <div class="contactUs">
            <form action ="listProducts" method ="POST" id = "listProducts">
              <input  type="submit" value="Change category" />

            </form>
            <label for = "products">Choose a category.</label>
            <br>
              <select name = "products" id ="products" form ="listProducts">
                <option value="1">Service</option>
                <option value="2">Hardware</option>
                <option value="3">Software</option>
                <option value="4">Network</option>
                <option value="5">USB</option>
              </select>  
            
              <div id ="listProducts">
              <h3>All products</h3>
              <table>
                <tr>
                <th>Product code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Cost</th>
                <th></th>
                </tr>

                
                
              
                
                  <% products.forEach ( (product) => {%>
                    <tr>
                      <td><%= product.product_id %> </td>
                      <td><%= product.product_name %> </td>
                      <td><%= product.product_desc %> </td>
                      <td><%= product.product_cost %> </td>
                      <td><a href="" data-id="<%=product.product_id %>">Add to cart</a></td> 
                    </tr> 
                  <%}); %>
                  

            </table>
          </div>
        </div>
      
      
      
	    
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="scripts/webSvr.js"></script>
<script src="scripts/links.js"></script>
<script src="scripts/shop.js"></script>


</body>
</html>
